<template>
  <div class="container text-center">
    <div class="row">
      <form id="login-form" class="form-signin">
        <img src="https://leads2b.com/wp-content/uploads/2018/10/Leads2b_E-191x44.png" width="191" height="44" />
        <h1 class="h3 mb-3 font-weight-normal">Por favor, efetue o login</h1>
        <label for="login-email" class="sr-only">E-mail</label>
        <input type="email" class="form-control" id="login-email" placeholder="E-mail">
        <label for="login-password" class="sr-only">Senha</label>
        <input type="password" class="form-control" id="login-password" placeholder="Senha">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </form>
    </div>
  </div>
</template>

<style>
html,
body {
  height: 100%;
}

body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.form-signin img {
  margin-bottom: 24px;
}

</style>
