<template>
  <ul class="nav">
    <li class="nav-item">
      <nuxt-link to="/home" class="navbar-link">Leads2b</nuxt-link>
    </li>
    <li class="nav-item">
      <nuxt-link to="/employees" class="navbar-link">Funcionários</nuxt-link>
    </li>
  </ul>
</template>
