<template>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">E-mail</th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="employee in employees">
        <th scope="row">{{ employee.id }}</th>
        <td>{{ employee.name }}</td>
        <td>{{ employee.email }}</td>
      </tr>
    </tbody>
  </table>
</template>

<script>
export default {
  data: function() {
    return {
      employees: [
        {
          id: 1,
          name: 'Bruno Correia',
          email: 'kelevrah09@gmail.com'
        },
        {
          id: 2,
          name: 'Nice Poloni',
          email: 'nycepoloni@gmail.com'
        }
      ]
    }
  }
}
</script>
