<template>
  <section class="container-fluid">
    <login-form/>
    <nuxt-link to="/home">Home page</nuxt-link>
  </section>
</template>

<script>
import Navbar from '~/components/navbar.vue'
import LoginForm from '~/components/login-form.vue'

export default {
  layout: 'login',
  components: {
    Navbar,
    LoginForm
  }
}
</script>
